// Place all the styles related to the renthouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.buttonFrame {
  background-color: transparent;
  background: rgba(255, 255, 255, 0.10);
  border-color:rgba(255, 255, 255, 0.10);
  text-decoration: underline;
  font-size: 100%;
}