// Place all the styles related to the renthouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


input {
  border-collapse: separate;
  display: table-cell;
  text-indent: 0px;
  vertical-align: middle;
  font: 16px Meiryo;
}